<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.downstairs.core">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme.DayNight"
        tools:targetApi="n">

        <receiver android:name=".system.receivers.AppUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".system.receivers.AppFirstLaunchReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>
</manifest>